// ANIMATIONS
  // >>> overwrites:  /_sass/bootstrap/mixins/_vendor-prefixes.scss
@mixin animate($name, $duration, $delay, $iteration-count, $direction) {
  -webkit-animation-name: $name;
     -moz-animation-name: $name;
       -o-animation-name: $name;
          animation-name: $name;

	-webkit-animation-duration: $duration;
	   -moz-animation-duration: $duration;
	     -o-animation-duration: $duration;
		    animation-duration: $duration;

    -webkit-animation-delay: $delay;
  	   -moz-animation-delay: $delay;
  	     -o-animation-delay: $delay;
  	        animation-delay: $delay;

	-webkit-animation-iteration-count: $iteration-count;
	   -moz-animation-iteration-count: $iteration-count;
	     -o-animation-iteration-count: $iteration-count;
	        animation-iteration-count: $iteration-count;

	-webkit-animation-direction: $direction;
	   -moz-animation-direction: $direction;
	     -o-animation-direction: $direction;
		    animation-direction: $direction;
}
@mixin keyframes($animationName) {
    @-webkit-keyframes #{$animationName} {
        @content;
    }
    @-moz-keyframes #{$animationName} {
        @content;
    }
    @-o-keyframes #{$animationName} {
        @content;
    }
    @keyframes #{$animationName} {
        @content;
    }
}




// CODEBLOCK DISPLAY
  // >>> Bounce fa-long-arrow-alt-left
@include keyframes(bounce-x) {
  0%, 20%, 50%, 80%, 100% {
    @include translate(0, 0);
  }
  40% {
    @include translate(10px, 0);
  }
  60% {
    @include translate(5px, 0);
  }
}
@mixin bounce-x {
  @include animate(bounce-x, 2s, 0s, infinite, normal);
}

@include keyframes(bounce-x-alt) {
  0%, 20%, 50%, 80%, 100% {
    @include translate(0, 0);
  }
  40% {
    @include translate(-10px, 0);
  }
  60% {
    @include translate(-5px, 0);
  }
}
@mixin bounce-x-alt {
  @include animate(bounce-x-alt, 2s, 0s, infinite, normal);
}

.page-styling pre {
    .fa-long-arrow-alt-left,
    .fa-long-arrow-alt-right,
    .fa-long-arrow-alt-up,
    .fa-long-arrow-alt-down,
    .fa-arrows-alt-h {
        color: $brand-danger;
        @include bounce-x;

    span {
      font-family: $font-family-monospace;
      text-transform: uppercase;
      letter-spacing: 2px;
      font-size: 8pt;
      vertical-align: middle;
      margin: auto 0.5em;
    }
  }
  .line {
    width: 400px !important;
    height: 23px;
    display: inline-block;
    position: absolute;
    left: 0;
    @include bounce-x;

    .horizontal-down {
      height: 23px;
      position: absolute;
      right: 0;
      margin-top: 8px;
      border-top: 3px solid $brand-danger;
      border-right: 3px solid $brand-danger;
      z-index: 1;
    }
    .horizontal-up {
      height: 23px;
      position: absolute;
      right: 0;
      margin-top: -12px;
      border-bottom: 3px solid $brand-danger;
      border-right: 3px solid $brand-danger;
      z-index: 0;
    }
  }
}
