/*--------------------
| Justine's Additions |
 --------------------*/
// VARIABLES
  // >>> found in:  /_sass/bootswatch/united/_variables.scss
    //$gray-base:                 #000;
    //$gray-darker:               #222;
    //$gray-dark:                 #333;
    //$gray:                      #777;
    //$gray-light:                #AEA79F;
    //$gray-lighter:              #eee;
    //$brand-primary:             #E95420;
    $brand-secondary:             #20B5E9;
    //$brand-success:             #38B44A;
    //$brand-info:                #772953;
    //$brand-warning:             #EFB73E;
    //$brand-danger:              #DF382C;
    //$font-size-base:            16px !default;
  // >>> found in: /_sass/bootswatch/united/_bootswatch.scss
    //“Ubuntu” is default font
    $web-font-path-alt: "https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700|Roboto:400,700'";
    @import url($web-font-path-alt);
    $font-family-roboto:    'Roboto', sans-serif;
    $font-family-roboto-cond:    'Roboto Condensed', sans-serif;





// SITE-WIDE
p, ul, ol, li, a, .img-caption {
  font-family: $font-family-roboto;
}
.page-styling h2:nth-child(n+2) {
  margin-top: ($line-height-computed * 2)
}





// INDEX
  // >>> overwrites:  /css/main.scss
  // >>>              /_sass/bootstrap/_jumbotron.scss
.jumbotron {
  padding-top:    ($jumbotron-padding * 1.6);
}
.header-container {
  background-position: center 18%;

  .header-text {
    background-color: rgba(255, 255, 255, .9);
    color: #333;
    padding: 10px 20px;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  h1 {
    color: #333;
    margin-top: 10px;
  }
  .btn {
    text-transform: uppercase;
  }
}
.footer {
  height: auto;
}





// “ABOUT” PAGE
  // >>> added to:    /_layouts/page.html
  // >>> structure
.page-design {
  background-color: rgba(255, 255, 255, .7);
  padding: 2rem;
}
.row-people {
  display: block;
  width: 100%;
  margin: 2em auto;
  @include clearfix;
  h3 {
    margin-top: 0;
  }
  .fab, .far, .fas {
    margin-right: .75rem;
    background-color: $brand-primary;
    padding: .75rem;
    color: white;
    border-radius: 15%;
  }
  .profile-img {
    object-fit: cover;
    border-radius: 5%;
    width: 150px;
    height: 150px;
  }
  div {
    img {
      float: left;
      margin-right: 1.8rem;
      margin-bottom: .5rem;
    }
  }
}
.name-tag-display {
  width: 90%;
  min-width: 275px;
  margin: 5rem auto;
  font-size: $font-size-large;

  @media (max-width: $grid-float-breakpoint) {
    text-align: justify;
  }
}
  // >>> name tag
.name-tag {
  float: right;
  margin: 1rem -6rem 3rem 3rem;
	height: 175px;
	width: 250px;
	background: $gray-lighter;
	border-radius: 10px;
	transform: rotate(10deg);
  box-shadow: 5px 5px 3px rgba(0, 0, 0, .3);

  @media (max-width: $grid-float-breakpoint) {
    float: none;
    margin: 5rem auto;
  }
  .hello-header {
    height: 70px;
  	width: 250px;
  	background: $brand-danger;
  	text-align: center;
  	color: #fff;
  	border: 5px solid $gray-lighter;
  	border-top-left-radius: 10px;
  	border-top-right-radius: 10px;
  }
  #hello {
    text-transform: uppercase;
  	font-weight: 600;
  	font-size: 26px;
  	letter-spacing: 10px;
  }
  #my-name-is {
  	font-size: 20px;
    font-family: $font-family-roboto;
  	font-weight: 400;
  	letter-spacing: 1px;
    margin-top: -83px;
  }
  form {
    display: flex;
  	flex-direction: column;
  	justify-content: center;
  	align-items: center;
  	margin: 7px 0 0 0;
    span {
  		position: absolute;
  		top: 130px;
  		left: 5px;
  		height: 40px;
  		width: 240px;
  		background: $brand-danger;
      padding-top: 13px;
  		text-align: center;
      font-family: $font-family-roboto;
  		color: #fff;
  		font-weight: 400;
      font-size: 12px;
      letter-spacing: 1px;
  		border-bottom-left-radius: 6px;
  		border-bottom-right-radius: 6px;
  		border: 0;
      }
  	output[type="text"] {
  		width: 250px;
      background-color: $gray-lighter;
  		margin-top: -9px;
  		font-family: 'Gochi Hand', cursive;
  		text-align: center;
      font-size: 32px;
  		border: 0;
  		outline: none;
  		&:valid, &:focus {
  			border: 0;
      }
    }
  }
}
.page-design {
  input[type="text"] {
  text-align: center;
  color: $gray;
  border: 0;
  border-bottom: 1px solid $gray-light;
  outline: none;
    &:valid, &:focus {
    border: 0;
    border-bottom: 1px solid $gray-light;
    }
  }
}





// TOP NAVIGATION
  // >>> overwrites:  /_sass/bootstrap/_navbar.scss
.navbar-brand, .navbar-nav a {
  font-family: $font-family-roboto-cond !important;
}





// DROPDOWN MENUS
  // >>> overwrites:  /_sass/bootstrap/_dropdowns.scss
.dropdown-menu {
  padding: 5px;
}
.dropdown-menu > li:last-child > a {
  &:hover,
  &:focus {
    border-radius: 0 0 $border-radius-base $border-radius-base;
  }
}





// LABELS
  // >>> overwrites:  /_sass/bootstrap/_labels.scss
.label {
  font-family: $font-family-roboto-cond;
  text-transform: uppercase;
  letter-spacing: 2px;
  padding: .25em .5em;
  margin-right: .3em;
}
  // >>> tags and categories
.label-tags {
  color: $gray-light;
  background-color: $gray-lighter;
}
.label-categories {
  color: $gray-lighter;
  background-color: $gray-light;
}





// DIVIDERS
.divider-pg {
  width: 50%;
  height: 2px;
  border: 1px solid $brand-info;
  border-radius: 30px;
  margin: 4rem auto;
}
.divider-heading {
  width: 50%;
  height: 4px;
  border: 2px solid $brand-warning;
  border-radius: 30px;
  margin-bottom: 20px;
}
.divider-hw {
  width: 90%;
  border: 1px solid $brand-warning;
  border-radius: 30px;
  margin: $line-height-computed auto;
}
